body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.BreakpointFromMedium {
    display: none;
  }

@media (max-width: 639px) {
  .BreakpointToMedium {
    display: none;
  }
}

@media (max-width: 639px) {
  .BreakpointFromMedium {
    display: block;
  }
}



.btn-dropdown:not(.is-active) + ul {
  display: none;
}